@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
  }
  // example how to use this code @include position(absolute, $top: 1em, $left: 50%);

@mixin vertical_centerer {
  position: absolute;
  top: 50%; 
  -webkit-transform: translateY(-50%); 
  -moz-transform: translateY(-50%); 
  transform: translateY(-50%);
}
  // example how to use this code @include centerer;