// Font Family
$font-family:Arial, Helvetica, sans-serif;

// Base Font for HTML
$base-font-size: 20px;

// Paragraph Styles
$paragraph_color      : #333;
$paragraph_size       : rem(18px);
$paragraph_line-height: 22px;
$paragraph_margin     : 20px;